doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	body
	div(class = "navbar navbar-inverse navbar-fixed-top")
		.container
			.navbar-header
				button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/home") Welcome #{user.firstName} in Juspay news
			div(class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					li
						a(href="/home") Home
					li
						a(href="/sport") Sports
					li
						a(href="/tech") Tech
					li
						a(href="/entertainment") Entertainment
					li.active
						a(href="/travel") Travel
					li
						a(href='/signout') Sign Out

	br
	br
	
	each scrape_obj in news.scrape_obj
		div.col-sm-10.col-md-10.col-md-offset-1
			div.row
				div(class="alert alert-warning" role="alert" style="text-align:center")
					a(href='#{scrape_obj.link}',style='text-align:center') #{scrape_obj.title} |----> #{scrape_obj.date}